.box {
	width: 100px;
	height: 100px;
	background-color: blue;
	animation: boxAnimation 3s linear infinite;
}

@keyframes boxAnimation {
	0%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(300px);
	}
	100%{
		transform: translateX(0);
	}
}